<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.configuration.mapper.ConfigMapper">

    <select id="selectUpdateList" resultType="Configuration">
        /* selectUpdateList */
        SELECT 't_configurationA' AS tname , count(*) as cnt, max(update_time) AS updateTime from t_configurationA
        UNION
        SELECT 't_configurationB' AS tname , count(*) as cnt, max(update_time) AS updateTime from t_configurationB
        UNION
        SELECT 't_configurationC' AS tname , count(*) as cnt, max(update_time) AS updateTime from t_configurationC
    </select>

    <select id="selectConfiguration" parameterType="Map" resultType="List">
        /* selectConfigurationA */
        SELECT * FROM #{tableName} WHERE enable = b'1'
    </select>
</mapper>
